
.products__container {
  position: relative;
  padding-bottom: 80px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #959595;
  }
}
.products__topLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
.products__title {
  font-weight: 500;
  font-size: 26px;
  line-height: calc(40 / 26);
}

.products__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.products__link {
  position: relative;
  display: block;
}
.products__like {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px;
}
.discription {
  margin-top: 15px;
}
.discription__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(26 / 20);
  color: #343434;
  margin-bottom: 20px;
}
.discription__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #626262;
  width: 110px;
  margin-bottom: 20px;
}
.coast {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(40 / 20);
  color: #4aaa4e;
}
