.topLine__box {
    background-color: #343434;
    padding: 16px 0;
    color: #fff;
}
.topLine__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topLine__phone {
    margin-right: 23px;
}
.topLine__register {
    &:not(:last-child) {
        margin-right: 3px;
    }
}
.topLine__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
}